appnope==0.1.0
asgiref==3.2.3
backcall==0.1.0
boto3==1.12.38
botocore==1.15.38
certifi==2019.11.28
chardet==3.0.4
cssutils==1.0.2
decorator==4.4.2
dj-database-url==0.5.0
Django==3.0.7
django-crispy-forms==1.9.0
django-environ==0.4.5
django-favicon==0.1.3
django-heroku==0.3.1
dnspython==1.16.0
docutils==0.15.2
geographiclib==1.50
geoip2==3.0.0
geopy==1.21.0
googlemaps==4.2.0
gunicorn==20.0.4
idna==2.9
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.16.0
jmespath==0.9.5
jsonify==0.5
maxminddb==1.5.2
mysql-connector-python==8.0.19
mysql-connector-python-dd==2.0.2
mysql-connector-python-rf==2.2.2
mysql-connector-repackaged==0.3.1
mysqlclient==1.4.6
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
protobuf==3.6.1
psycopg2==2.8.5
psycopg2-binary==2.8.4
ptyprocess==0.6.0
Pygments==2.6.1
PyMySQL==0.9.3
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
s3transfer==0.3.3
six==1.12.0
SQLAlchemy==1.3.13
sqlparse==0.3.0
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.9
webcolors==1.11.1
whitenoise==5.0.1
