{% extends 'base.html' %}
{% load static %}
{% block content%}





<div class="about_page">
    <div class="about-card mx-auto text-center">
        <h2>About Dealish</h2>
        <h5 id="slogan">Find Your Delish Deal !</h5>
        <p>Dealish is a web application for food lovers to easily find deals and happy-hours nearby. They can find restaurants through a built-in google map and easily save their favourites restaurants for later use.</p>
        <h5>Technologies Used</h5>
        <ul>
            <li>Django Framework</li>
            <li>PostgreSQL ( POSTGIS )</li>
            <li>Google Map API</li>
            <li>HTML5</li>
            <li>CSS ( Bootsrap Framework )</li>
            <li>JS ( JQUERY Library)</li>
            
        </ul>
        <div>
            <h2>Our Team</h2>
            <div class="team-card">
                <div class="team">
                    <img src="{% static 'images/waqas.jpg'%}">
                    <h5>Waqas</h5>
                    <p>Full-Stack Developer</p>
                    <a href="https://github.com/wdaimee"><img src="{% static 'images/git.png' %}"></a>
                    <a><img src="{% static 'images/lin.png' %}"></a>
                </div>
                <div class="team">
                    <img src="{% static 'images/yasaman.jpg'%}">
                    <h5>Yasaman Loghmani</h5>
                    <p>Full-Stack Developer</p>
                    <a href="https://github.com/yasamanloghmani"><img src="{% static 'images/git.png' %}"></a>
                    <a href="https://linkedin.com/in/yasamanloghmani"><img src="{% static 'images/lin.png' %}"></a>
                
                </div>
                <div class="team">
                    <img src="{% static 'images/antoine.jpg'%}">
                    <h5>Antoine</h5>
                    <p>Full-Stack Developer</p>
                    <a href="https://github.com/sols-dv"><img src="{% static 'images/git.png' %}"></a>
                    <a><img src="{% static 'images/lin.png' %}"></a>
                
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}